$white: #ffffff;
$light-grey: #c9ccd4;
$light-blue: #0ad9c6;
$black: #000000;
$placeholder: #1c1c1c;
$light-black: #48494d;
$extra-light-grey: #f6f6f6;
$graphite-black: #1f1f1f;
$sky: #0ad9c6;

//img
$bg-bike: #0d0d0d;
// Основные брекпоинты
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;
